<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>

<body>
    <div class="containter" style="text-align: center">

        {% include 'navbar.html' %}

        <h1>The services that we provide</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis in harum enim, quasi atque officia
            pariatur numquam repellendus laboriosam iusto? Omnis ad sunt voluptatum adipisci et tempora consectetur
            nulla, tenetur maiores ea doloremque voluptate quia debitis qui similique enim minima voluptatem aperiam.
            Officiis est dolor beatae perspiciatis quas iusto voluptates.</p>
        <button>Contact Us</button>
    </div>
</body>

</html>